<mat-horizontal-stepper #stepper linear>
  <br>
  <br>
  <mat-step label="Revisar total">
    <mat-form-field appearance="standard">
      <mat-label>Búsqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="nombre, descripción o categoría del producto" #input>
    </mat-form-field>

    <table *ngIf="productos.length>0" mat-table [dataSource]="productos">
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}}</mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precio | currency}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td  mat-cell *matCellDef="let element">
              
          <div style="width: 5%; margin-top: 1%;">
           <input type="number" style="width: 500%" name="cantidad" min="1" value="0">
            
          </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="quitar">
        <mat-header-cell *matHeaderCellDef>Quitar</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button (click)="quitar(element)" mat-icon-button color="warn">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </table>
    &nbsp;
    <h2>Total: {{total() | currency}}</h2>
    <div align="right">
    <button matStepperNext mat-raised-button color="primary">Continuar
      <mat-icon>arrow_forward</mat-icon>
    </button>
    </div>
  </mat-step>

  <mat-card>
    <mat-step label="Datos del cliente">
      <p style="text-align: center; border-radius: 60px;">
        <mat-form-field>
          <input matInput [(ngModel)]="clienteModel.nombre" type="text" placeholder="Nombre completo">
        </mat-form-field>
      </p>
      <p style="text-align: center;">
        <mat-form-field>
          <textarea rows="10" matInput [(ngModel)]="clienteModel.direccion" placeholder="Dirección de envío"></textarea>
        </mat-form-field>
      </p>
      <div align="center">
      <button matStepperPrevious mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon>
        Volver
      </button>
      &nbsp;
      <button (click)="revisarYTerminar(stepper)" mat-raised-button color="warn">Terminar compra
        <mat-icon>check</mat-icon>
      </button>
      </div>
    </mat-step>
  </mat-card>
  <mat-step label="Gracias por su compra">
    <div *ngIf="compraTerminada">
      <h2 class="mat-display-3" style="text-align: center;">¡Gracias por su compra!</h2>
      <div align="center"><img src="assets/paquetes.gif" width="380px" alt="Compra terminada"></div>
      <p style="text-align: center;">Su paquete llegará a la dirección especificada en los siguientes días</p>
    </div>
    <div *ngIf="!compraTerminada">
      Por favor, rellene los formularios de los pasos anteriores
    </div>
  </mat-step>
</mat-horizontal-stepper>